@import "tailwindcss";

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background-color: #f2f8fc;
  padding-bottom: 5%;
  flex: 1;
}
