@import "tailwindcss";

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: #ecf0f1;
  /* background-color: #efe0e0; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding-bottom: 5%;
  flex: 1;
}

.logo-cover {
  position: relative;
}

.btn-cover {
  position: absolute;
  top: 70%;
  bottom: 0;
  left: 45%;
  right: 0;
  text-align: center;
  border: 3px solid #fff;
  width: 10%;
  height: 15%;
  cursor: pointer;
}

.btn-about-shop {
  text-align: center;
  border: 3px solid #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn-cover {
    width: 30%;
    height: 15%;
    top: 70%;
    left: 35%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-cover {
    width: 30%;
    height: 15%;
    top: 70%;
    left: 35%;
  }
}
